.login{
    position: absolute;
    top: 30% !important;
}

.login-form{
    width: 100%;
    padding: 30px;
    background-color: white;
    border-radius: 10px 10px;
}

.btn-login{
    width: 100%;
    padding: 10px;
    color: white;
    background-color: #181F32;
}