.btn-custom{
    background-color: aqua;
    margin-right: 20px;
    min-width: 80px;
    color: antiquewhite;
}

.btn-purple{
    background-color: #3B4664;
}

.btn-red{
    background-color: #DB3033;
}